@import url("https://fonts.googleapis.com/css?family=Inconsolata|Roboto");
@font-face {
  font-family: Synthesia;
  font-style: normal;
  src: url("/res/synthesia.ttf");
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #002b36;
  color: #839496;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-family: Synthesia;
  font-size: 5em;
  color: #fdf6e3;
}
option {
  font-family: Synthesia;
}
h2 {
  font-family: Synthesia;
  font-size: 3em;
  color: #93a1a1;
}
h3 {
  font-family: Inconsolata;
  color: #174652;
}
.wrapper {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem 0 5rem;
}
.names {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.names h3 {
  transition: color 0.3s;
}
.names a:hover h3 {
  color: #839496;
}
#logo {
  text-align: center;
}
#idselect {
  margin: 2rem 0;
  padding: 1rem;
  width: 100%;
  background: #174652;
  border: none;
  color: #fdf6e3;
  appearance: none;
  font-size: 1.5rem;
  font-family: Synthesia;
}
#idselect:active {
  outline: none;
}
.container {
  border: 2px #174652 solid;
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
}
.container>*:nth-child(2) {
  padding: 0.5rem;
  text-align: justify;
}
.container h4 {
  font-family: Inconsolata;
  color: #174652;
}
.container ul#lines li {
  list-style: none;
  padding: 0.5rem 0;
}
.container ul#ships {
  display: flex;
  justify-content: space-between;
}
.container ul#ships li {
  width: 100%;
  display: none;
  list-style: none;
  font-family: Inconsolata;
  font-size: 1.5rem;
  text-align: center;
  cursor: default;
  user-select: none;
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
  transition: background 0.3s, color 0.3s;
}
.container ul#ships li:after {
  position: absolute;
  height: 0;
  opacity: 0;
  width: 100%;
  top: 1.75rem;
  left: 0;
  z-index: -1;
  font-size: 0.8rem;
  transition: height 0.3s, opacity 0.3s;
}
.container ul#ships li:hover:after {
  height: 1.1rem;
  opacity: 1;
}
.container ul#ships li#fighter {
  color: #b58900;
}
.container ul#ships li#fighter:after {
  content: 'Fighters';
  background: #b58900;
}
.container ul#ships li#fighter:hover {
  background: #b58900;
  color: #fdf6e3;
}
.container ul#ships li#freighter {
  color: #cb4b16;
}
.container ul#ships li#freighter:after {
  content: 'Freighters';
  background: #cb4b16;
}
.container ul#ships li#freighter:hover {
  background: #cb4b16;
  color: #fdf6e3;
}
.container ul#ships li#transport {
  color: #dc322f;
}
.container ul#ships li#transport:after {
  content: 'Transports';
  background: #dc322f;
}
.container ul#ships li#transport:hover {
  background: #dc322f;
  color: #fdf6e3;
}
.container ul#ships li#gunboat {
  color: #d33682;
}
.container ul#ships li#gunboat:after {
  content: 'Gunboats';
  background: #d33682;
}
.container ul#ships li#gunboat:hover {
  background: #d33682;
  color: #fdf6e3;
}
.container ul#ships li#cruiser {
  color: #268bd2;
}
.container ul#ships li#cruiser:after {
  content: 'Cruisers';
  background: #268bd2;
}
.container ul#ships li#cruiser:hover {
  background: #268bd2;
  color: #fdf6e3;
}
.container ul#ships li#battleship {
  color: #2aa198;
}
.container ul#ships li#battleship:after {
  content: 'Battleships';
  background: #2aa198;
}
.container ul#ships li#battleship:hover {
  background: #2aa198;
  color: #fdf6e3;
}
.container ul#ships li#kudessie {
  color: #859900;
}
.container ul#ships li#kudessie:after {
  content: 'Kusari Destroyer';
  background: #859900;
}
.container ul#ships li#kudessie:hover {
  background: #859900;
  color: #fdf6e3;
}
.container ul#ships li#morph {
  color: #6c71c4;
}
.container ul#ships li#morph:after {
  content: 'Nomad Morph';
  background: #6c71c4;
}
.container ul#ships li#morph:hover {
  background: #6c71c4;
  color: #fdf6e3;
}
.container ul#ships li#nfighter {
  color: #6c71c4;
}
.container ul#ships li#nfighter:after {
  content: 'Nomad Fighters';
  background: #6c71c4;
}
.container ul#ships li#nfighter:hover {
  background: #6c71c4;
  color: #fdf6e3;
}
.container ul#ships li#ngunboat {
  color: #6c71c4;
}
.container ul#ships li#ngunboat:after {
  content: 'Nomad Gunboats';
  background: #6c71c4;
}
.container ul#ships li#ngunboat:hover {
  background: #6c71c4;
  color: #fdf6e3;
}
.container ul#ships li.active {
  display: inline;
}
